body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* overflow: hidden; */
    font-family: 'Courier New', Courier, monospace;
    margin:0;
}

h1 {
    font-size: 1.4rem;
}

.container {
    background-color: pink;
    min-width: 400px;
    max-width: 600px;
    padding: 1rem 1rem 2rem;
    border-radius: 0.7rem;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.4);
}

.eingabe {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    border: black solid 2px;
    margin-bottom: 0.6rem;
}

#input {
    background-color: transparent;
    border: none; 
    font-size: 1.8rem;
    color: gray;
    outline: none; /* kein Rahmen, wenn der input den Fokus hat */
    letter-spacing: 0.2rem;
}

.input::placeholder { /* damit kann man den placeholdertext stylen */
    letter-spacing: 0px; 
}
.copy {
    opacity: 0.3;
    cursor: pointer;
}
.copy:hover {
    opacity:.7;
}
button {
    color: white;
    background-color: black;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    padding: 0.4rem 1.2rem;
}
button:hover {
    background-color: green;
}

.alert-container {
    position:fixed;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    bottom: 5%;
    right: 5%;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.4);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    opacity: 0;
    transition: opacity 4s;
}

.active {
    transition: opacity 0.5s;
    opacity: 1;
}

.settings {
    display: flex;
    flex-direction: column;
    height: 150px;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 1rem;
    padding: 0 1rem;
}

.realsettings {
    display: grid;
    grid-template-areas: "symbols length";
    grid-template-columns: 4fr 1fr;
}

.realsettings label {
    font-weight: bold;
}
.realsettings .allowed-chars {
    grid-area: "symbols";
}

.realsettings .allowed-chars textarea {
    resize: none;
}

.realsettings .password-length {
    grid-area: "length"
}

.realsettings .single-setting {
    display: flex;
    flex-direction:column;
    padding: 0.5rem;
}